!!! 5
%html 
	%head
		%title Education Planner
		%link(href="bootstrap.css" rel="stylesheet")
		%link(href="style.css" rel="stylesheet")
		%script(src="jquery.min.js")
		%script(src="application.js")
		%script(src="jquery.autogrowtextarea.js")
	%body
		/ Topbar ==================================================
	
		.topbar
			.fill
				.container
					%a.brand(href="#") Education Planner
					%ul.nav
						%li
							%a(href="#") Home
						%li.active 
							%a(href="#about") My Plans
						%form.pull-left{ :action => "" }
							%input{ :type => "text", :placeholder => "educationplanner.com/8xc7v5v9" }
						%li
							%button.btn#copy_url Copy
							
		/ Container ==================================================
	
		.container
			.row
				.span4	
					%form.form-stacked
						%fieldset
							%legend Plan Information
							.clearfix
								%label Name
								.input
									%input{:type => "text", :value => "Joe Smith"}
							.clearfix
								%label Major(s)
								.input
									%input{:type => "text", :value => "Business Administration"}
							.clearfix
								%label Minors(s)
								.input
									%input{:type => "text", :value => "Computer Science, Mathematics"}
				.span-8
					%form.form-stacked
						%fieldset
							.clearfix
								%label.notes Notes:
								.input
									%textarea.notes-autoGrow{:cols => 110, :rows => 7}
			/ Freshman ==================================================					
			%table
				%thead.green
					%tr
						%th.text-center{:colspan => 2} 
							%a.close{:href => "#"} x 
							%h3 Freshman
				%tbody
					%tr.smoke
						%th.text-center Fall
						%th.text-center Spring
					%tr 
						%td.content 
							%textarea.autoGrow{:cols => 75}= "21-120 Differential & Integral Calculus\n70-100 Global Business\n73-100 Principles of Economics\n76-101 Interpretation and Argument\n99-101 Computing @ Carnegie Mellon\nxx-xxx Breadth Requirement"
						%td.content 
							%textarea.autoGrow{:cols => 75}= "21-256 Multivariate Analysis &amp; Approximation\n73-150 Microeconomics\n79-104 Global Histories\n15-110 Principles of Computing\nxx-xxx Breadth Requirements"				
			/ Freshman Summer ==================================================				
			%table
				%thead.smoke-head
					%tr
						%th.text-center{:colspan => 2} 
							%a.close{:href => "#"} x 
							Summer
				%tbody
					%tr
						%td.content{:colspan => 2} 
							%textarea.autoGrow{:cols => 154}= "Internship"			
			/ Sophomore ==================================================	
			%table
				%thead
					%tr.green
						%th.text-center{:colspan => 2} 
							%a.close{:href => "#"} x 
							%h3 Sophomore
				%tbody 
					%tr.smoke
						%th.text-center Fall
						%th.text-center Spring
					%tr 
						%td.content 
							%textarea.autoGrow{:cols => 75}= "21-257 Models & Methods of Optimizations\n70-122 Introduction to Accounting\n70-207 Probability & Statistics\n73-200 Macroeconomics\nxx-xxx Breadth Requirement"
						%td.content 
							%textarea.autoGrow{:cols => 75}= "70-208 Regression Analysis\n70-311 Organizational Behavior\n70-340 Business Communications\nxx-xxx Breadth Requirement\nxx-xxx Minor Requirement"
			/ Sophomore Summer ==================================================
							
			%table
				%thead.smoke-head
					%tr
						%th.text-center{:colspan => 2} 
							%a.close{:href => "#"} x 
							Summer
				%tbody
					%tr
						%td.content{:colspan => 2} 
							%textarea.autoGrow{:cols => 154}= "Internship"
			/ Junior ==================================================
			%table
				%thead.green
					%tr
						%th.text-center{:colspan => 2} 
							%a.close{:href => "#"} x 
							%h3 Junior
				%tbody
					%tr.smoke
						%th.text-center Fall
						%th.text-center Spring
					%tr 
						%td.content 
							%textarea.autoGrow{:cols => 75}= "70-371 Production/Operations Management\n70-381 Marketing\n70-391 Finance\n70-451 Management Information Systems\nxx-xxx Breadth Requirement"
						%td.content 
							%textarea.autoGrow{:cols => 75}= "70-332 Business, Society & Ethics\n70-345 Business Presentations\n70-xxx Track Course\n70-xxx Track Course\n70-201 Professional Service Project\nxx-xxx Minor Requirement"
			/ Junior Summer ==================================================
			%table
				%thead.smoke-head
					%tr
						%th.text-center{:colspan => 2} 
							%a.close{:href => "#"} x 
							Summer
				%tbody
					%tr
						%td.content{:colspan => 2} 
							%textarea.autoGrow{:cols => 154}= "Internship"
			/ Senior Summer ==================================================
			%table
				%thead.green
					%tr
						%th.text-center{:colspan => 2} 
							%a.close{:href => "#"} x 
							%h3 Senior
				%tbody
					%tr.smoke
						%th.text-center Fall
						%th.text-center Spring
					%tr 
						%td.content 
							%textarea.autoGrow{:cols => 75}= "70-xxx Track Course\n70-xxx Track Course\nxx-xxx Minor Requirement\nxx-xxx Minor Requirement"
						%td.content 
							%textarea.autoGrow{:cols => 75}= "70-401 Management Game\n70-xxx Track Requirement\n70-xxx Track Requirement\nxx-xxx Minor Requirement\nxx-xxx Minor Requirement"